@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

main {
  max-width: 1440px;
  margin: auto;
}

/* Navbar Styles */

.logo {
  display: flex;
  background-color: #f0f0f0;
  padding: 10px 0;
  width: 202px;
  height: 62px;
  margin-top: 20px;
  margin-left: 20px;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  margin-left: 10px;
  margin-top: 10px;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px 0;
  margin-top: 20px;
  margin-left: 20px;
  margin: auto;
}

nav li {
  list-style: none;
  display: inline;
  margin-right: 20px;
  margin-top: 20px;
  font-size: medium;
}

nav li:nth-child(2) {
  color: orange;
}
nav li:nth-child(3) {
  color: skyblue;
}
nav li:nth-child(4) {
  color: #05d4df;
}
nav li:nth-child(5) {
  color: #5d58ef;
}

.btn {
  background-color: orange;
  width: 157px;
  height: 42px;
  border: none;
  padding: 10px;
  margin-right: 20px;
  border-radius: 10px;
  margin-top: 20px;
  color: #ffffff;
  cursor: pointer;
}

.horizontal-line {
  border: 1px solid orange;
  opacity: 20%;
  margin: 20px 0;
}

/* Navbar Mobile Device */
@media (min-width: 776px) {
  .bars {
    display: none;
  }

  .horizontal-line {
    display: none;
  }

  .bars {
    margin-right: 0px;
  }
}

@media (max-width: 776px) {
  .logo {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px 0;
    width: 202px;
    height: 62px;
    margin-top: 20px;
    margin-left: 20px;
  }

  nav li,
  .btn {
    display: none;
  }

  .school-text {
    display: none;
  }

  .bars {
    display: block;
    padding: 10px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
  }
}

/* Banner Section */

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.text-content {
  width: 50%;
  margin-left: 25px;
  margin-right: 40px;
  margin-top: 100px;
}

.heading {
  font-size: 2.5rem;
  font-weight: 700;
}

.orange-text {
  color: orange;
}
.skyblue-text {
  color: skyblue;
}

.para {
  margin-top: 20px;
}

.img-content {
  width: 478px;
  height: 575px;
  margin-right: 20px;
}

.btn-black {
  background-color: black;
  font-weight: bold;
  width: 167px;
  height: 50px;
  border: none;
  padding: 8px;
  margin-right: 20px;
  border-radius: 10px;
  margin-top: 20px;
  color: #ffffff;
  cursor: pointer;
}

/* Mobile Device Banner */

@media (max-width: 776px) {
  .content {
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "text";
  }

  .text-content {
    grid-area: text;
  }

  .image-content {
    grid-area: image;
  }

  .para {
    font-weight: 500;
  }
}

/* Standard Curriculum Styles */

.standard-text {
  display: grid;
  place-content: center;
  margin-top: 50px;
}
.std-container {
  display: flex;
  background-image: url("./assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  margin-top: 50px;
}
.standard-content {
  background: linear-gradient(135deg, #def5ff, #f2e8ff);
  width: 367px;
  height: 476px;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}
.standard-content-elementary {
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(135deg, #fff4dc, #f2e8ff);
  width: 367px;
  height: 476px;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}
.standard-content-middle {
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(135deg, #f2e8ff, #ffffff);
  width: 367px;
  height: 476px;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.para-standard {
  font-family: "Raleway", sans-serif;
  font-size: medium;
  color: #808080;
  margin-top: 20px;
}

.btn-read-more {
  color: #64c8ff;
  border: none;
  margin-top: 20px;
}
.btn-read-more-yellow {
  color: #f0aa00;
  border: none;
  margin-top: 20px;
}
.btn-read-more-purple {
  color: #8700ff;
  border: none;
  margin-top: 20px;
}

.arrow {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.arrow-left {
  color: white;
  background-color: orange;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.arrow-right {
  color: white;
  background-color: orange;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

/* Standard Curriculum Mobile Device */

@media (max-width: 776px) {
  .std-container {
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-areas:
      "elementary"
      "middle"
      "high";
  }

  .standard-content {
    grid-area: elementary;
  }

  .standard-content-elementary {
    grid-area: middle;
  }

  .standard-content-middle {
    grid-area: high;
  }

  .arrow {
    display: none;
  }
}
